@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(224, 71%, 4%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(224, 71%, 4%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(224, 71%, 4%);
    --primary: hsl(28, 91%, 54%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(220, 14%, 96%);
    --secondary-foreground: hsl(221, 39%, 11%);
    --muted: hsl(210, 20%, 98%);
    --muted-foreground: hsl(218, 11%, 65%);
    --accent: hsl(138, 68%, 33%);
    --accent-foreground: hsl(0, 0%, 100%);
    --destructive: hsl(0, 72%, 51%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --border: hsl(220, 13%, 91%);
    --input: hsl(220, 13%, 91%);
    --ring: hsl(28, 91%, 54%);
  }

  .dark:root {
    --background: hsl(222, 47%, 11%);
    --foreground: hsl(210, 20%, 98%);
    --card: hsl(217, 33%, 17%);
    --card-foreground: hsl(210, 20%, 98%);
    --popover: hsl(217, 33%, 17%);
    --popover-foreground: hsl(210, 20%, 98%);
    --primary: hsl(28, 91%, 54%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(215, 25%, 23%);
    --secondary-foreground: hsl(210, 20%, 98%);
    --muted: hsl(215, 25%, 23%);
    --muted-foreground: hsl(218, 11%, 55%);
    --accent: hsl(138, 68%, 33%);
    --accent-foreground: hsl(0, 0%, 100%);
    --destructive: hsl(0, 84%, 60%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --border: hsl(215, 20%, 30%);
    --input: hsl(215, 20%, 30%);
    --ring: hsl(28, 91%, 54%);
  }
}
